AdonisAI @ file:///D:/Projects/test-adonis/AdonisAI-1.1-py3-none-any.whl
appdirs==1.4.4
audioread==2.1.9
beautifulsoup4==4.9.3
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
comtypes==1.1.11
cymem==2.0.6
decorator==5.1.1
download==0.3.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
filelock==3.5.0
fuzzywuzzy==0.18.0
gTTS==2.2.3
huggingface-hub==0.4.0
idna==3.3
Jinja2==3.0.3
joblib==1.1.0
langcodes==3.3.0
lazyme==0.0.27
librosa==0.9.0
llvmlite==0.38.0
MarkupSafe==2.0.1
murmurhash==1.0.6
numba==0.55.1
numpy==1.21.5
packaging==21.3
pathy==0.6.1
phonetics==1.0.5
playsound==1.3.0
pooch==1.6.0
preshed==3.0.6
PyAudio @ file:///D:/Projects/test-adonis/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.21
pydantic==1.8.2
pyjokes==0.6.0
pyparsing==3.0.7
pypiwin32==223
python-Levenshtein==0.12.2
pyttsx3==2.90
pywin32==303
pywhatkit==5.3
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
resampy==0.2.2
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.8.0
shutup==0.1.3
six==1.16.0
smart-open==5.2.1
SoundFile==0.10.3.post1
soupsieve==2.3.1
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
srsly==2.4.2
thinc==8.0.13
threadpoolctl==3.1.0
tokenizers==0.11.4
torch==1.10.2
tqdm==4.62.3
transformers==4.16.2
typer==0.4.0
typing-extensions==4.1.1
urllib3==1.26.8
wasabi==0.9.0
wikipedia==1.4.0
pyscreenshot==3.0
opencv-python==4.5.5.64
speedtest-cli==2.1.3
pytube==12.0.0
pycountry==22.3.5
googletrans
pycaw
mediapipe
gtts
pyttsx3
textdistance
beautifulsoup4
spacy
pywhatkit
pyscreenshot
pycountry
download